<% @commits.each do |commit| %>
  <ul class="<%=commit_class(commit) %>">
    <li> commit <%=commit.ref %></li>
    <% unless commit.merge.nil? %>
      <li> Merge: <%=commit.merge %></li>
    <% end %>
    <li> Author: <%=commit.author %></li>
    <li> Date: <%=commit.date %></li>
    <% commit.comments.split('\n').each do |line|  %>
      <li> <%=comment_line(line) %></li>  
    <% end %>
  </ul>
<% end %> 