<div class="row">
  <aside class="col-md-3">
    <section class="search">
      <%= form_tag commits_path, :method => 'get', :id => 'commits_search' do %>
        <%= label_tag :ref, 'Commit Ref' %>
        <%= text_field_tag :ref, params[:ref], class: 'form-control' %>

        <%= label_tag :author %>
        <%= select_tag(:author, options_for_select(name_list(Commit.order_by_name), params[:author]), :include_blank => true, class: 'form-control') %>

        <%= label_tag :date %>(YYYY-MM-DD) 
        <%= text_field_tag :date, params[:date], 'data-provide' => 'datepicker', class: 'form-control' %>

        <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-9">
    <div id='commits'><%= render 'commits' %></div>   
  </div>
</div>

