<footer class="footer">
  <small>
    The <a href="#">Git Log Search</a>
    by Jeffrey Tong
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>